<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
		<title>cfmx.org</title>
		<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	</head>

	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/references">References</a>
			</nav>

			<h1>cfmx.org</h1>

			<p>I am an exploration into using <a href="https://htmx.org">HTMX</a> with <a href="https://en.wikipedia.org/wiki/ColdFusion_Markup_Language">CFML</a> (<a href="https://www.adobe.com/products/coldfusion-family.html">Adobe ColdFusion</a> or <a href="https://www.lucee.org">Lucee</a>)</p>
		</header>

		{{ content }}
	</body>
</html>
